<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<% if (user) { %>
    <div><a href="/jobs">Jobs</a></div>
    <div><a href="/secretWord">View/change the secret word</a></div>
<% } else { %>
    <div><a href="/sessions/logon">Log in</a></div>
    <div><a href="/sessions/register">Register</a></div>
<% } %>
<%- include("partials/footer.ejs") %>
